.resize
{
  width:530px;
  height: 700px;
  position: absolute;
}

.drop-target-blind
{
  border: 3px solid lightseagreen;
}

.drop-active-blind
{
  border: 3px solid #999;
}

.drop-notactive-blind
{
  border: 3px solid black;
}

.dropzone-blind
{
  /* background-color: black; */
  width:550px;
  height: 720px;
	margin-top: 4em;
	margin-left: 8em;
  margin-right: 2em;
  display: inline-block;
}