.resize
{
  height: 155px;
  width: 105px;
  margin: 0px 25px 25px 25px;
}

.zoom
{
  max-width: 100%;
  max-height: 675px;
  top: 16px;
  left: 851px;
  position: absolute;
}

.center-div
{
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

.drop-target-blind
{
  border: 3px solid lightseagreen;
}

.drop-active-blind
{
  border: 3px solid #999;
}

.drop-notactive-blind
{
  border: 3px solid black;
}

.dropzone-blind
{
  /* background-color: black; */
  height: 168px;
  width: 118px;
  /* display: inline-block; */
	position: absolute;

}

.blind-man
{
	position: relative;
  /* border: 5px solid rgb(0, 174, 255); */
  width: auto;
  height: 6410px;
}
