.resize
{
  height: 155px;
  width: 105px;
  margin: 0px 25px 25px 25px;
}

.zoom
{
  width: 525px;
  max-height: 711px;
  top: 5px;
  position: absolute;
  z-index: -1;
}

.drop-target-blind
{
  /* border: 3px solid lightseagreen; */
}

.drop-active-blind
{
  /* border: 3px solid #999; */
}

.drop-notactive-blind
{
}

.drag-shadow
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropzone-blind
{
  height: 168px;
  width: 118px;
	position: absolute;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -1;
}

.container
{
  position: absolute;
  top: -10px;
  left: 605px;
}

.sticky
{

  /* transform: scaleX(-1);
  -webkit-transform: scaleX(-1); */ 
}

.text-sticky
{
  position: absolute;
  top: 38px!important;
  left: 60px!important;
  font-family: "Damn Arc";
  color: black;
  font-size: 25px;
  letter-spacing: 3px;
  transform: rotate(8deg);
  text-align: center;
}

.blind-man
{
	position: relative;
  /* border: 5px solid rgb(0, 174, 255); */
  width: auto;
  height: 6410px;
}
