/* body
{
    background-image: url("../folder_elements/wooden.png");
} */

.edited-rose::after
{

	content: url("../Puzzles/cacodylic_eye/rrose_images/r_rose_edited.png");
}

.edited-rose
{
	position: relative;
  	/* border: 5px solid rgb(0, 174, 255); */
	width:452px;
	height: 573px;
}

.original-rose::after
{
	content: url("../Puzzles/cacodylic_eye/rrose_images/r_rose_original.jpg");
}

.original-rose
{
	float: right;
}

.reward-rose::after
{
	content: url("../Puzzles/cacodylic_eye/rrose_images/r_rose_reward.png");
}

.reward-rose
{
	position: relative;
	/* border: 5px solid rgb(0, 174, 255); */
	width: 555px;
	height: 696px;
	
	display: block;
  	margin-left: auto;
	margin-right: auto;
}

.artifact-rose
{
	position: absolute;
	left: 850px;
    top: 115px;
    max-width: 10%;
}

.click-box-eye 
{
  	position: absolute;
	height: 42px;
    width: 59px;
    left: 146px;
    top: 174px;
	/* border: 2px solid black; */
}

.click-box-rrose
{
  	position: absolute;
	height: 61px;
    width: 160px;
    left: 387px;
    top: 626px;
	/* border: 2px solid black; */
}