.folder {
	position: relative;
    /* border: 5px solid rgb(0, 174, 255); */
}

.folder-scale 
{
	position: relative;
	height: auto;
	width: 970px;
}

.note {
	position: absolute;
    height: auto;
    width: 424px;
	z-index: 1;
}

.pen {
	position: absolute;
	z-index: 3;
}

/* Can probably make this better but at this point it's working and I will not tempt god */
.pen:hover {
	background-image:url("../folder_elements/pen/pen.png");
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-o-transform: rotate(5deg);
}

.envelope {
	position: absolute;
	height: auto;
	width: 500px;
	z-index: 1;
}

.folder-tab
{
	position:absolute;
	/* border: 1px solid rgb(217, 0, 255); */
	z-index: 3;
}

.folder-tab-right
{
	position:absolute;
	/* border: 1px solid rgb(217, 0, 255); */
	z-index: 3;
}

.unsolved
{
	position:absolute;
	z-index: 2;
}

.written {
	position:absolute;
	font-family:"Damn Arc";
	font-size: 4vw;
	text-align: center;
	line-height:1.50vw;
}

.written a
{
	text-decoration: underline;
}

/*Folder Elements End*/