.pen {
	position: absolute;
	top: 0px;
	left: 60px;
	width: auto;
	height: 50vh;
	z-index: 1;
}

/* Can probably make this better but at this point it's working and I will not tempt god */
.pen:hover {
	background-image:url("../folder_elements/pen/pen.png");
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-o-transform: rotate(5deg);
}

.folder {
	position: relative;
    border: 5px solid rgb(0, 174, 255);
    /* width: 1009px;
    height: 714px; */
}

.center
{
	text-align: center;
}

.folder-scale 
{
	position: relative;
	height: auto;
	width: 970px;
}

.clue-spacing
{
    padding-bottom: 10px;
    padding-left: 10px;
}
.written {
    top: 45px;
    left: 145px;
	position:absolute;
	font-family:"Damn Arc";
	font-size:2.5vw;
	line-height:1.50vw;
}

.written-2
{
    top: 17px;
    left: 682px;
	position:absolute;
	font-family:"Damn Arc";
	font-size:2.5vw;
}

/*Folder Elements End*/