.react-draggable, .cursor {
    cursor: move;
  }
  .no-cursor {
    cursor: auto;
  }
  .cursor-y {
    cursor: ns-resize;
  }
  .cursor-x {
    cursor: ew-resize;
  }



.dropzone 
{
  /* background-color: black; */
  /* border: 1.5px solid #999; */
  /* margin: 10px auto 30px; */
  position: absolute;
}

.draggable-demuth
{
 touch-action: none;
  user-select: none;
  z-index: 2;
}

.demuth-box 
{
  /* position: absolute; */
  margin: 0px 25px 25px 25px;
}

.demuth-container{
  position: relative;
  /* border: solid 1px yellow; */
  z-index: -3;
}
/* 
.demuth-container::after
{
 content: url('../Puzzles/demuth_letter/demuth_letter_images/demuth_letter_under.png');
} */

.demuth-resize
{
  position: relative;
  left: 5px;
  top: 5px;
  width: 743px;
  height: auto;
}

.demuth-shadow
{
-webkit-box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.46);
-moz-box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.46);
box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.46);
}
