.react-draggable, .cursor {
      cursor: move;
    }
    .no-cursor {
      cursor: auto;
    }
    .cursor-y {
      cursor: ns-resize;
    }
    .cursor-x {
      cursor: ew-resize;
    }


.drop-target 
{
  border: 3px solid #999;
}

.drop-active 
{
  border: 3px solid #999;
}

/* .draggable.can-drop {
  border: 3px solid lightblue;
} */

.draggable 
{
  touch-action: none;
  user-select: none;
  z-index: 2;
}

.dropzone 
{
  /* background-color: black; */
  border: 3px solid #999;
  /* margin: 10px auto 30px; */
  /* padding: 10px; */
  position: absolute;
}

.demuth-box 
{
  /* border: 1px solid #000; */
  background: transparent;
  /* width: 3%; */
  z-index: 2;
  margin: 0px 25px 25px 25px;
}

/* .demuth-box 
{
  margin: 0.5rem;
  border: 1px solid #000;
  display: inline-block;
  font-family:"BlackCasper";
  position: absolute;
  background: transparent;
} */

.demuth-container{
  position: relative;
  border: solid 1px yellow;
  z-index: -3;
}

.demuth-container::after
{
 content: url('../Puzzles/demuth_letter/demuth_letter_images/demuth_letter_under.png');
}

.demuth-resize
{
  position: relative;
  left: 5px;
  top: 10px;
  /* width: 40%; */
  height: auto;
}


