
.god-container
{
  position: relative;
  width: auto;
}

.pipe-resize
{
  position: absolute;
}

.pipe-base
{
  width: 350px;
  position: absolute;
}

.draggable 
{
  touch-action: none;
  user-select: none;
}