.toliet-pos 
{
  z-index: 5;
  width: 12%;
  margin: 10px 15px 5px 0px;
  position: absolute;
}

.page-resize
{
  width: 28%!important;
  z-index: 0;
  top: 215px;
  position: absolute!important;
}

.page-resize-fake
{
  width: 28%!important;
  display: inline-block!important;
  z-index: 0;
  position: relative!important;
  margin: 0px 25px 0px 0px!important;
}

.mott-zoom
{
  width: 17%;
  height: 48%;
  margin: 0px 5px 0px 0px;
}

.mott-container
{
  position: absolute;
  top: -10px;
  left: 5px;
}

.mott-text-sticky
{
  position: absolute;
  top: 38px!important;
  left: 55px!important;
  font-family: "Damn Arc";
  color: black;
  font-size: 25px;
  letter-spacing: 3px;
  transform: rotate(-8deg);
  text-align: center;
}

.mott-sticky
{
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.magnifier {
  /* Styles for <div> around image and magnifying glass */
  /* background: url('../Puzzles/mott_catalog/mott_catalog_images/magnify.png') !important; */
  
}

.magnifier-image {
  /* Styles for large image */

}

.magnifying-glass {
  /* Styles for magnifying glass */
  width: 160px!important;
  height: 160px!important;
}