.resize-rrose
{
    position: absolute;
    width: 350px;    
}

.mina-container
{
  position: relative;
  /* border: solid 1px yellow; */
  z-index: -3;
}

.mina-resize
{
  position: absolute;
  top: 5px;
  width: 500px;
  height: auto;
}

.draggable-mina
{
  touch-action: none;
  user-select: none;
  z-index: 2;
}

.mina-box 
{
  position: absolute;
  /* margin: 0px 25px 25px 25px; */
}