
.sia-container
{
  position: relative;
  width: auto;
}

.sia-page-resize
{
  position: absolute;
  width: 155px
}

.sia-resize
{
  width: 600px;
  position: absolute;
}



.sia-shadow
{
  -webkit-box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.46);
  box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.46);
}
